html {
    scroll-behavior: smooth !important;
  }

  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .carousel{
    overflow:hidden;
  }
 