
/* elemental selectors */
html {
    scroll-behavior: smooth !important;
  }

  /* limiting the height of images */
  img {
  max-height: 300px;
}

/* class selectors */
/* For events description to only show 4 lines */
.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* selectors for the carouseling */
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0
}

.slider-pagination {
  background-color: #333;
}

.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
right: 0;
top: 0;
}

.item-slide img {
max-width: 1200px;
}

.caption-container {
color: white;
}

/* id selectors */
#slider{
  overflow: hidden;
}

#modal-launcher {
  display:none;
}

/* flickity */
.main-gallery {
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: #333;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

@media screen and ( min-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 33%; }
}



/* media queries */
@media screen and (min-width: 480px) {
  .slider-item {
    width: 232px;
  }
}

@media screen and (min-width: 640px) {
  .slider-item {
    min-width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .slider-item {
    min-width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .slider-item {
    min-width: 500px;
    height: 100%;
    
    ;
  }
}
