html {
    scroll-behavior: smooth !important;
  }

  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

#modal-launcher {
  display:none;
}
 
.slider-text {
  position: absolute;
  right: 0;
  bottom: 0
}

.slider-pagination {
  background-color: #333;
}

#slider{
  overflow: hidden;
}


.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
right: 0;
top: 0;
}

.item-slide img {
max-width: 1200px;
}

.caption-container {
color: white;
}

img {
  max-height: 300px;
}


@media screen and (min-width: 480px) {
  .slider-item {
    width: 232px;
  }
}

@media screen and (min-width: 640px) {
  .slider-item {
    min-width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .slider-item {
    min-width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .slider-item {
    min-width: 500px;
    height: 100%;
    
    ;
  }
}
